/* start global rules*/

* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --section-color: #eddce6;
    --section-color-alt: #ebe1e0;
    --footer-color: #ebebeb;
    --main-transition: 0.3s;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-heading {
    position: relative;
    margin-left: 70px;
    text-transform: uppercase;
    font-size: 13px;
    width: 200px;
}

.main-heading::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: black;
    top: 40%;
    left: -30%;
}

.main-btn {
    border: 1px solid rgb(0 0 0 /0.5);
    padding: 13px 30px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    transition: var(--main-transition);
}

.main-btn:hover {
    background-color: var(--section-color-alt);
    color: black;
}

@media(max-width:991px) {
    .main-btn {
        padding: 13px 20px;
    }
}

@media(max-width:567px) {
    .main-btn {
        padding: 10px 15px;
    }
}


/* start navbar  */

.main-nav {
    background-color: var(--section-color-alt);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}

.main-nav .nav-btn {
    border: 1px solid rgb(0 0 0 /0.5);
    padding: 10px 25px;
    cursor: pointer;
    color: black;
    transition: var(--main-transition);
}

.main-nav .nav-btn:hover {
    background-color: black;
    color: #fff;
}

.main-nav .navbar-nav li a {
    color: rgb(0 0 0 /0.5);
    transition: var(--main-transition);
}

.main-nav .navbar-nav li a:hover {
    color: black;
}


/* end navbar  */


/* start landing  */

.landing {
    background-color: var(--section-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
    /* min-height: calc(100vh - 106px); */
    height: 100vh;
}


/* @media(max-width:991px) {
    .landing {
        min-height: calc(100vh - 102px);
    }
}

@media(max-width:767px) {
    .landing {
        min-height: calc(100vh - 98px);
    }
}

@media(max-width:567px) {
    .landing {
        min-height: calc(100vh - 93px);
    }
} */

.landing .container {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .landing .container {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 70px;
}

@media(max-width:992px) {
    .landing .text h1 {
        font-size: 60px;
    }
}

@media(max-width:567px) {
    .landing .text h1 {
        font-size: 40px;
    }
}

.landing .text p {
    line-height: 1.7;
    font-size: 18px;
    color: #777;
}

.landing .text .land-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

@media(max-width:567px) {
    .landing .text .land-btns {
        font-size: 17px;
    }
}

@media(max-width:992px) {
    .landing .text .land-btns div:first-of-type {
        padding: 15px 40px;
    }
}

@media(max-width:567px) {
    .landing .text .land-btns div:first-of-type {
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 25px;
    }
    .landing .text .land-btns div:last-of-type {
        padding: 15px 25px;
        font-size: 20px;
    }
}

.landing .image {
    border: 1px solid black;
    width: 350px;
    height: 450px;
    text-align: center;
}

.landing .image img {
    width: 350px;
    height: 450px;
    border: 1px solid #fff;
}

@media(max-width:992px) {
    .landing .image {
        display: none;
    }
    .landing .text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/* end landing  */


/* start besiness-trands  */

.besiness-trands {
    background-color: var(--footer-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}

.besiness-trands .bessi img {
    width: 60px;
    height: 60px;
}

.besiness-trands .bessi .d-flex h5 {
    letter-spacing: -0.7px;
    margin-bottom: 0;
}

.besiness-trands .bessi .d-flex p {
    color: #666;
}

.besiness-trands .box {
    background-color: #ebebeb3b;
    border-radius: 6px;
    border: 4px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.besiness-trands .box p {
    color: #666;
    line-height: 1.7;
    font-size: 16px;
}


/* end besiness-trands  */


/* start section */

.section {
    background-color: #e3e3e3;
}

.section .container {
    display: flex;
    justify-content: space-between;
}

@media(max-width:992px) {
    .section .container {
        text-align: center;
    }
}

.section .image {
    border: 1px solid black;
    width: 350px;
    height: 450px;
    text-align: center;
}

.section .image img {
    width: 350px;
    height: 450px;
    border: 1px solid #fff;
}

@media(max-width:992px) {
    .section .image {
        display: none;
    }
}

.section .text h1:first-of-type {
    font-size: 50px;
    margin-bottom: 25px;
}

.section .text h1:last-of-type {
    font-size: 30px;
}

.section .text .box {
    flex-basis: 46%;
}

.section .text .box h5 svg {
    border-radius: 50%;
    padding: 8px;
}

.section .text .box h5 svg.onee {
    background-color: #92c9b8;
}

.section .text .box h5 svg.twoo {
    background-color: #ed9e83;
}

.section .text p {
    color: #666;
    line-height: 1.7;
    font-size: 14px;
}


/* end section  */


/* start online  */

.online {
    background-color: var(--footer-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}

.online .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:992px) {
    .online .container {
        justify-content: center;
    }
}

.online .container .box {
    flex-basis: 50%;
}

.online img {
    width: 300px;
    flex-basis: 30%;
    max-width: 100%;
}

@media(max-width:992px) {
    .online .container .box {
        text-align: center;
    }
    .online img {
        display: none;
    }
}


/* end online  */


/* start testimonials  */

.testimonial {
    background-color: var(--footer-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}

.testimonial .test-header {
    width: 50%;
    margin-bottom: 70px;
}

@media(max-width:767px) {
    .testimonial .test-header {
        width: 100%;
    }
}

.testimonial .row .tesibox img {
    width: 60px;
    height: 60px;
}


/* end testimonials  */

.sponers {
    background-color: #eee;
}

.sponers img {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}


/* start contact  */

.contact {
    background-color: var(--section-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}

.contact .box form {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .contact .box form {
        flex-direction: column;
    }
}

.contact .box form input[type="text"] {
    flex-basis: 60%;
}

.contact .box form input[type="submit"] {
    flex-basis: 35%;
    font-size: 16px;
}

@media(max-width:767px) {
    .contact .box form input[type="submit"] {
        width: 35%;
        margin: 15px auto;
    }
    .contact .box form input[type="text"] {
        margin: 15px auto;
        width: 70%;
    }
}


/* end contact  */


/* start footer  */

.footer {
    background-color: var(--section-color);
    background: linear-gradient(90deg, var(--footer-color) 10%, var(--section-color) 35%, var(--section-color-alt) 55%);
}


/* end footer  */